<!doctype html>
<html lang="en">

<head>
    <title>ELearning</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <!-- begin header -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="lienHe header__menu">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="menu_icon">
                                        <i class="fa fa-map-marker"></i>
                                        <span>108 Sư Vạn Hạnh</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="menu_icon">
                                        <i class="fa fa-phone"></i>
                                        <span>01234567898</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dangki header__menu text-right">
                        <ul>

                        </ul>
                        <div class="modal" id="RegisterModal">
                            <div class="Modal_login">
                                <div class="left">
                                    <div class="text text-center">
                                        <h1>Bắt đầu đăng kí tài khoản tham gia khóa học nào!!!</h1>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="info">
                                        <h1 class="">ĐĂNG KÝ</h1>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Tài Khoản</span>
                                            </div>
                                            <input id="dkTaiKhoan" type="text" class="form-control">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Họ & Tên</span>
                                            </div>
                                            <input id="dkHoTen" type="text" class="form-control">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Email</span>
                                            </div>
                                            <input id="dkEmail" type="text" class="form-control">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Số Điện Thoại</span>
                                            </div>
                                            <input id="dkSoDienThoai" type="text" class="form-control">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Mật Khẩu</span>
                                            </div>
                                            <input id="dkMatKhau" type="password" class="form-control">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Loại người dùng</span>
                                            </div>
                                            <select id="dkLoaiNguoiDung">
                                                <option disabled>Chọn loại người dùng</option>
                                                <option value="HV">Học viên</option>
                                                <option value="GV">Giáo vụ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <button id="btnRegister" type="button" class="btn btnRegister"> Register</button>
                                        <button type="button" class="btn btn-danger btnClose" data-dismiss="modal">
                                            <i class="fa fa-times text-white"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="LoginModal">
                            <div class="Modal_login">
                                <div class="left">
                                    <div class="text text-center">
                                        <h1>Đăng nhập tài khoản tham gia khóa học nào!!!</h1>
                                    </div>
                                </div>
                                <form class="right" id="formLogin">
                                    <div class="info">
                                        <h1 class="mb-5">ĐĂNG NHẬP</h1>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Tài Khoản</span>
                                            </div>
                                            <input id="dnTaiKhoan" type="text" class="form-control" placeholder="minh123456789">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Mật Khẩu</span>
                                            </div>
                                            <input id="dnMatKhau" type="text" class="form-control" placeholder="*****">
                                        </div>
                                    </div>
                                    <div class="button">
                                        <button id="btnLogin" type="button" class="btn btnRegister"> Login</button>
                                        <button type="button" class="btn btn-danger btnClose" data-dismiss="modal">
                                            <i class="fa fa-times text-white"></i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end header -->
    <!-- begin header logo -->
    <div class="header_logo">
        <div class="container-fluid color__logo">
            <div class="row">
                <div class="col-md-4 p-5 left__logo">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input id="txtSearch" type="text" class="form-control" placeholder="search.....">
                    </div>
                </div>
                <div class="col-md-4 center__logo">
                    <span class="textLeft">Learing</span>
                    <div class="khungtron">
                        <div class="boder">
                            <img src="../assets/img/KhungXanh.jpg" alt="">
                            <div class="logo">
                                <img src="../assets/img/logo.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <span class="textRight">Technology</span>
                    <div class="title">
                        <h1>Learing Technology</h1>
                    </div>
                </div>
                <div class="col-md-4 p-5 right__logo text-right">
                    <div class="input-group ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                        </div>
                        <a href="">
                            <span class="form-control">0 item - 0.00$</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end header logo -->
    <!-- begin menuNav -->
    <div class="MenuNavbar sticky-top ">
        <div class="container MenuNavbar--color">
            <div class="row">
                <nav class="navbar navbar-expand-md myMenu ">
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse " id="collapsibleNavbar">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feadtures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Price</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Special Deals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- end menuNav -->
    <!-- begin product -->
    <div class="Product">
        <div class="container py-5 myproduct ">
            <div class="row">
                <div class="col-md-3 category">
                    <h1>Category</h1>
                    <div class="menuCategory mx-3">
                        <ul>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i> Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                            <li class="product__item"><a href=""><i class="fa fa-first-order"></i>Khóa học lập trình </a> <span class="text-right countProduct text-info">(2)</span></li>
                        </ul>
                    </div>
                    <div class="best__sellers my-4">
                        <h1>Best Sellers</h1>
                        <ul class="subject_best_seller">
                            <li class="top_subject">
                                <span class="top_subject_count">01</span>
                                <div class="top_subject_detail">
                                    <a href=""><span class="txtTenKhoaHoc">Lủm Chủm trôi</span></a>
                                    <div class="subject_price">
                                        <span>$110.00</span><br>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </a>
                            </li>
                            <li class="top_subject">
                                <span class="top_subject_count">01</span>
                                <div class="top_subject_detail">
                                    <a href=""><span class="txtTenKhoaHoc">Lủm Chủm trôi</span></a>
                                    <div class="subject_price">
                                        <span>$110.00</span><br>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </a>
                            </li>
                            <li class="top_subject">
                                <span class="top_subject_count">01</span>
                                <div class="top_subject_detail">
                                    <a href=""><span class="txtTenKhoaHoc">Lủm Chủm trôi</span></a>
                                    <div class="subject_price">
                                        <span>$110.00</span><br>
                                        <span>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- begin Chi tiết Khóa học -->
                <div class="col-md-9 subject">
                    <div class="row">
                        <div class="col-md-4 pb-3">
                            <div class="subject__item">
                                <div class="subject__img">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </div>
                                <div class="subject__text">
                                    <h3 class="txtTenKhoaHoc">Lủm chủm trôi trôi </h3>
                                    <div class="danhgia m-1">
                                        <span><i class="fa fa-users"></i></span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="giangvien m-1">
                                        <span>Giảng viên:</span>
                                        <span id="txtTenGiangVien">Đặng trung hiếu</span>
                                    </div>
                                    <div class="dongia m-1">
                                        <span class="mr-2">Đơn giá:</span><span class="txtGiaTien ">$110.00</span><span class="ml-2">$99.00</span>
                                    </div>
                                    <div class="luotxem">
                                        <span class="text-right"><i class="fa fa-eye"></i>200 lượt xem</span>
                                    </div>
                                    <button type- "button" class="btn btn-success m-2">Đăng Kí</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-3">
                            <div class="subject__item">
                                <div class="subject__img">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </div>
                                <div class="subject__text">
                                    <h3 class="txtTenKhoaHoc">Lủm chủm trôi trôi </h3>
                                    <div class="danhgia m-1">
                                        <span><i class="fa fa-users"></i></span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="giangvien m-1">
                                        <span>Giảng viên:</span>
                                        <span id="txtTenGiangVien">Đặng trung hiếu</span>
                                    </div>
                                    <div class="dongia m-1">
                                        <span class="mr-2">Đơn giá:</span><span class="txtGiaTien ">$110.00</span><span class="ml-2">$99.00</span>
                                    </div>
                                    <div class="luotxem">
                                        <span class="text-right"><i class="fa fa-eye"></i>200 lượt xem</span>
                                    </div>
                                    <button type- "button" class="btn btn-success m-2">Đăng Kí</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-3">
                            <div class="subject__item">
                                <div class="subject__img">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </div>
                                <div class="subject__text">
                                    <h3 class="txtTenKhoaHoc">Lủm chủm trôi trôi </h3>
                                    <div class="danhgia m-1">
                                        <span><i class="fa fa-users"></i></span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="giangvien m-1">
                                        <span>Giảng viên:</span>
                                        <span id="txtTenGiangVien">Đặng trung hiếu</span>
                                    </div>
                                    <div class="dongia m-1">
                                        <span class="mr-2">Đơn giá:</span><span class="txtGiaTien ">$110.00</span><span class="ml-2">$99.00</span>
                                    </div>
                                    <div class="luotxem">
                                        <span class="text-right"><i class="fa fa-eye"></i>200 lượt xem</span>
                                    </div>
                                    <button type- "button" class="btn btn-success m-2">Đăng Kí</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-3">
                            <div class="subject__item">
                                <div class="subject__img">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </div>
                                <div class="subject__text">
                                    <h3 class="txtTenKhoaHoc">Lủm chủm trôi trôi </h3>
                                    <div class="danhgia m-1">
                                        <span><i class="fa fa-users"></i></span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="giangvien m-1">
                                        <span>Giảng viên:</span>
                                        <span id="txtTenGiangVien">Đặng trung hiếu</span>
                                    </div>
                                    <div class="dongia m-1">
                                        <span class="mr-2">Đơn giá:</span><span class="txtGiaTien ">$110.00</span><span class="ml-2">$99.00</span>
                                    </div>
                                    <div class="luotxem">
                                        <span class="text-right"><i class="fa fa-eye"></i>200 lượt xem</span>
                                    </div>
                                    <button type- "button" class="btn btn-success m-2">Đăng Kí</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-3">
                            <div class="subject__item">
                                <div class="subject__img">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </div>
                                <div class="subject__text">
                                    <h3 class="txtTenKhoaHoc">Lủm chủm trôi trôi </h3>
                                    <div class="danhgia m-1">
                                        <span><i class="fa fa-users"></i></span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="giangvien m-1">
                                        <span>Giảng viên:</span>
                                        <span id="txtTenGiangVien">Đặng trung hiếu</span>
                                    </div>
                                    <div class="dongia m-1">
                                        <span class="mr-2">Đơn giá:</span><span class="txtGiaTien ">$110.00</span><span class="ml-2">$99.00</span>
                                    </div>
                                    <div class="luotxem">
                                        <span class="text-right"><i class="fa fa-eye"></i>200 lượt xem</span>
                                    </div>
                                    <button type- "button" class="btn btn-success m-2">Đăng Kí</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-3">
                            <div class="subject__item">
                                <div class="subject__img">
                                    <img src="../assets/img/khoahoc.jpg" alt="">
                                </div>
                                <div class="subject__text">
                                    <h3 class="txtTenKhoaHoc">Lủm chủm trôi trôi </h3>
                                    <div class="danhgia m-1">
                                        <span><i class="fa fa-users"></i></span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="giangvien m-1">
                                        <span>Giảng viên:</span>
                                        <span id="txtTenGiangVien">Đặng trung hiếu</span>
                                    </div>
                                    <div class="dongia m-1">
                                        <span class="mr-2">Đơn giá:</span><span class="txtGiaTien ">$110.00</span><span class="ml-2">$99.00</span>
                                    </div>
                                    <div class="luotxem">
                                        <span class="text-right"><i class="fa fa-eye"></i>200 lượt xem</span>
                                    </div>
                                    <button type- "button" class="btn btn-success m-2">Đăng Kí</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Chi tiết Khóa học -->
            </div>
        </div>
    </div>
    <!-- end product -->
    <!-- begin footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer__educate text-white">
                        <h1>ABOUT EDUCARE</h1>
                        <p>Duis autem vel eum iriure dolor inhendrerit in vulputate velit esse molestieconsequat, vel illum dolore eu feugiatnulla facilisis at vero eros.</p>
                        <p>Email: educare@gmail.com</p>
                        <p>Phone: 01234567898</p>
                        <p>108 Sư Vạn Hạnh</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer__news text-white">
                        <h1>LATEST NEWS</h1>
                        <div class="info__news">
                            <a href="">
                                <img src="../assets/img/khoahoc.jpg" alt="">
                                <h5>Hard Work Is What Brings Great Results</h4>
                                    <p class="calender">Dec 07, 2016</p>
                            </a>
                            <a href="">
                                <img src="../assets/img/khoahoc.jpg" alt="">
                                <h5>Hard Work Is What Brings Great Results</h4>
                                    <p class="calender">Dec 07, 2016</p>
                            </a>
                            <a href="">
                                <img src="../assets/img/khoahoc.jpg" alt="">
                                <h5>Hard Work Is What Brings Great Results</h5>
                                <p class="calender">Dec 07, 2016</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer__links text-white">
                        <h1>USEFUL LINKS</h1>
                        <div class="links__menuNav">
                            <ul>
                                <li><a href="">Courses</a></li>
                                <li><a href="">Student Support</a></li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                                <li><a href="">Social media</a></li>
                                <li><a href="">Facilities</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- Optional JavaScript -->
    <script src="../../dist/bundle.js"></script>
</body>

</html>